@font-face {
    font-family: "Eurostile-Bold";
    src:  url('./fonts/EurostileBold.ttf') format('truetype');
}

.splash {
    background-color: black;
    text-align: center;
    color: white;
    font-family: "Eurostile", sans-serif;
}

.grid {
    background-image: url("./img/grid.png");
    width: 100%;
    height: 100%;
    position: absolute;
}

.title {
    font-size: 10em;
    margin: 0;
    line-height: 1.2em;
    letter-spacing: 30px;
}

.subtitle {
    margin: 0;
    letter-spacing: 10px;
}

.thumbnail {
    width: 256px; 
    height: 256px; 
    background-color: blue;
    margin: 1em;
}